body{
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    font-size: 1.2em;
    font-style: arial;
    color: beige;
}

.container {
    background-size: contain;  
    background-color: rgb(55, 139, 15);
    
    display: grid;
    gap: 2px;
    grid-template-columns: auto auto auto 200px;
    grid-auto-rows: 100px 200px 150px 100px 100px;
    grid-template-areas: 
        "h h h h"
        "c c c s"
        "c c c s"
        "c c c s"
        "f f f f"
     ;

}

.container div {
    
    
}

.header {
    background-color: rgb(205, 218, 30);
    grid-area: h;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    
    
     
} 
.texto{
    font-size: 25px;
    color: black;
    font-weight: 800;
    

}
.texto1{
    font-size: 10px;
    color: black;
    

}

.sidebar {
    background-color: brown;
    grid-area: s;
}

.contest {
    grid-area: c;
    background: url(image.jpg);
    
    
    

}
.footer {
    background-color: palevioletred;
    grid-area: f;

}